<div class="container-fluid">
    <div class="row">

        <div class="col-md-3 position-relative overflow-hidden p-0">

            <img src="../../assets/images/myimg.jpeg" class="w-100" alt="">
            <div class="shad position-absolute top-0 d-flex align-items-center">
                <div class="paragraphs text-start p-2 w-100 position-absolute">
                    <p class="m">M</p><p class="a">a</p><p class="k">k</p><p class="e">e</p><p class="u">u</p><p class="p">p</p>

                </div>
                
            </div>

        </div>
    </div>
</div>